  <div>
   <%= flash[:notice] %>
  </div>

  <h2>User info</h2>
    <!-- 画像 -->
    <%= image_tag current_user.get_profile_image(100,100) %>
   <table class="table">
    <tr>
     <th>name</th>
     <th><%= current_user.name %></th>
    </tr>
    <!-- 自己紹介文 -->
    <tr>
     <th>introduction</th>
     <th><%= current_user.introduction %></th>
    </tr>
   </table>

   <div>
    <% if @user == current_user %>
     <%= link_to edit_user_path(current_user) do %>
      <i class="fa-solid fa-user-gear"></i>
     <% end %>
    <% else %>
     <%= link_to user_path(current_user) do %>
      <i class="fa-solid fa-user-gear"></i>
     <% end %>
    <% end %>
   </div>

   <h2>New book</h2>
   <%= form_with model: @book do |f| %>
    <p>Title</p>
    <%= f.text_field :title %>
    <p>Opinion</p>
    <%= f.text_area :opinion %>
    <p><%= f.submit 'Create Book' %></p>
   <% end %>

   <h2>Book detail</h2>
  <table>
   <tbody>
     <tr>
      <th><%= image_tag current_user.get_profile_image(100,100) %></th>
      <th><%= link_to @users.name, user_path(@user.id) %></th>
      <th><%= link_to @book.title, book_path %></th>
      <th><%= @book.opinion %></th>
      <%= link_to "Edit", edit_book_path(@book.id) %>
      <% if @book.user == current_user %>
       <%= link_to "Destroy", book_path(@book.id), method: :delete, date: {comfirm: "本当に削除しますか？"} %>
      <% end %>
     </tr>
   </tbody>
  </table>